@page
@model ClubLedger.Pages.AccountTypes.IndexModel
@{
    ViewData["Title"] = "Account Types";
}

<div class="container p-3">
    <div class="row pt-4"></div>
    <div class="col-6">
        <h2 class="text-primary">Account Types List</h2>
    </div>
    <div class="col-6">

    </div>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<br /><br />

<table>
    <thead>
        <tr>
            <th>
                Account Type Name
            </th>
            <th>
                Normal Balance
            </th>
            <th>
                Account Type ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.AccountTypes)
        {
            <tr>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.AccountTypeName)
                </td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.NormalBalance)
                </td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.AccountTypeID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@obj.AccountTypeID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@obj.AccountTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>