@page
@model ClubLedger.Pages.JournalEntries.IndexModel

<div class="container p-3">
    <div class="row pt-4"></div>
    <div class="col-6">
        <h2 class="text-primary">Journal Entries</h2>
    </div>
    <div class="col-6">

    </div>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<br /><br />

<table>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Contact
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.JournalEntries)
        {
            <tr>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.EntryDate)
                </td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.Description)
                </td>
                <td width="30%">
                    @Html.DisplayFor(modelItem => obj.ContactID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@obj.ContactID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@obj.ContactID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>